@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  margin: 0;
}
/* Shared style */
.secondary-bg {
  background-color: #fff8f3;
}
.btn {
  background-color: #fd6e0a;
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
}
/* color */
.dark2 {
  color: #474747;
}
.dark3 {
  color: #757575;
}
/* Nav style */
body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 216px 0px;
}

/*  */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.nav-title .mian-letter {
  color: #fd6e0a;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
nav ul {
  display: flex;
  align-items: center;
}
/* Banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 215px;
}
.banner-contain {
  max-width: 800px;
  margin-top: 195px;
}
.banner-start {
  font-size: 45px;
  font-weight: semibold;
  margin: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
  margin: 0;
}
.banner-dp {
  width: 584px;
  height: 674px;
  object-fit: cover;
  object-position: top;
}
.banner-description {
  color: #757575;
  margin-top: 19px;
}
.banner button {
  margin-right: 32px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.btn-contact {
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  background-color: white;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn-contact:hover {
  border: 1px solid #ff6a00;
  background-color: #fff8f3;
}

.banner button img {
  width: 20px; /* Adjust icon size */
  height: 20px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* About style */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
.about-items {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.item-description {
  font-weight: bold;
  margin-top: 0;
}
.item-title {
  margin-bottom: 0;
}

/* Works Style */
.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.works .section-description {
  width: 75%;
  text-align: center;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.card {
  width: 17%;
  border: none;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}
/* Resume Style */

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 113px;
}
.resume-cards {
  display: flex;
  margin-bottom: 70px;
  /* justify-content: space-between; */
}
.resume .first {
  border-bottom: 1px solid #7473736e;
}
.resume button {
  display: flex;
  gap: 10px;
}
.resume button img {
  width: 24px; /* Adjust icon size */
  height: 24px;
}
.single-card {
  width: 80%;
  height: 40%;
}
.resume-card {
  width: 60%;
}
.resume h4 {
  font-size: 30px;
  font-weight: bold;
}
.resume h5 {
  font-size: 25px;
  font-weight: bold;
}
.h5-title {
  font-weight: semibold;
  font-size: 20px;
}
footer {
  display: flex;
  padding: 130px 230px;
  gap: 60px;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 24px;
  width: 461px;
  height: 64px;
  border: none;
  border-radius: 5px;
}
#textarea {
  height: 180px;
}
.footer-card {
  width: 40%;
}
footer h4 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}
footer input[name="form"] {
  font-size: 16px;
}
textarea {
  font-family: open sans;
  font-size: 16px;
}
.icons img {
  margin-right: 24px;
  margin-top: 25px;
}
.btn:hover {
  background-color: #fd6f0ac4;
}
